.banner{
    height: 480px;
    margin-bottom: 30px;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;

    a:hover{
        color:#e1251b;
    }

}

.banner #index-banner-aside{
    width: 190px;
    background-color: white;
    height: 100%;
    float: left;

    ul{
        height: 100%;
        padding-top: 10px;

        li{
            width: 100%;
            padding-left: 18px;
            a{
                font-size: 14px;
                line-height: 25px;
                color: #333;
            }
        }

        li:hover{
            background-color: #e3e4e5;

        }
    }

    #index-banner-float{
        width:1000px;
        height: 98%;
        position: absolute;
        top: 10px;
        left: 190px;
        border:1px solid #cecece;
        box-shadow: 0 2px 8px rgba(0,0,0,.1);
        z-index: 12;
        background-color: #fff;
        padding: 30px;
        box-sizing: border-box;
        display: none;
    
        .l{
            width: 750px;
            float: left;
    
            .t{
                ul{
                    width: 800px;
                    height: 40px;

                    li{
                        width: 80px;
                        float: left;
                        background-color: #333;
                        color: #fff;
                        padding: 0 15px;
                        line-height: 24px;
                        margin-right: 20px;
                        box-sizing: border-box;
                    }
                }
    
            }
    
            .b{
                ul{
                    width: 100%;
                    
                    li{
                        float: left;
                        color: #999;
                        padding: 0 15px;
                        line-height: 30px;
                        width: 54px;
                        box-sizing: border-box;
                    }
    
                    li:nth-child(1){
                        color:#333;
                        font-weight: 700;
                        width: 80px;
                        box-sizing: border-box;
                    }
    
                    
                }
            }
        }

        .r{
            float: right;
        }
    
    }
    
}

.banner .cen{
    height: 100%;
    width: 790px;
    background-color: #f4f4f4;
    margin-left: 10px;

    .ban{
        width: 590px;
        height: 100%;
        background-color: papayawhip;
        float: left;
        position: relative;

        .swiper-container {
            width: 100%;
            height: 100%;
        }
      
        .swiper-slide {
            background-position: center;
            background-size: cover;
        }

        .swiper-pagination{
            margin-top: -30px;
            margin-left: 20px;
            
            span{
                outline: none;
                width: 10px;
                height: 10px;
                margin: 4px;
            }
        }

        .swiper-button-white{
            color:#fff;
            background-color: rgba(0,0,0,.15);
            width: 25px;
            height: 35px;
            outline: none;
            border-radius: 25px;
        }
        .swiper-button-white::after{
            font-size: 14px;
        }
        .swiper-button-prev{
            margin-left: -10px;
            border-radius: 0px 25px 25px 0;
        }
        .swiper-button-next{
            margin-right: -10px;
            border-radius: 25px 0 0px 25px;
        }

    }

    .ban-r{
        width: 190px;
        height: 100%; 
        float: right;
        position: relative;

        .swiper-container {
            width: 100%;
            height: 100%;
        }
      
        .swiper-slide {
            background-position: 0px 0px,0px 160px,0px 320px;
            background-size: 190px 150px,190px 150px,190px 150px;
            background-repeat: no-repeat,no-repeat,no-repeat;
        }

        .swiper-button-white{
            color:#fff;
            background-color: rgba(0,0,0,.15);
            width: 25px;
            height: 35px;
            outline: none;
            border-radius: 25px;
        }
        .swiper-button-white::after{
            font-size: 14px;
        }
        .swiper-button-prev{
            margin-left: -10px;
            border-radius: 0px 25px 25px 0;
        }
        .swiper-button-next{
            margin-right: -10px;
            border-radius: 25px 0 0px 25px;
        }
        
        
    }


}

.banner .right{
    width: 190px;
    background-color: white;
    height: 100%;
    float: right;

    .top{
        height: 102px;
        position: relative;

        .t{
            height: 67px;

            .l{
                float: left;
                margin-left: 25px;
                margin-top: 15px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid white;
                box-shadow: 0 2px 8px rgba(0,0,0,.05);
                overflow:hidden;
                cursor: pointer;

                img{
                    width:40px;
                    height: 40px;
                }
            }

            .r{
                float: left;
                margin-top: 18px;
                margin-left: 10px;

                .hello{
                    color:#666;
                    margin-bottom: 3px;
                    cursor: pointer;
                }
                .hello:hover{
                    color:#e1251b;
                }

                .login-regist a{
                    color:#333
                }
                .login-regist a:hover{
                    color:#e1251b;
                }
            }

        }

        .b{
            height: 35px;
            div{
                text-align: center;
                line-height: 25px;
                width: 70px;
                height: 25px;
                border-radius: 12.5px;
                float: left;
                cursor: pointer;
            }

            .new{    
                background-color: #e1251b;
                color:white;
                margin-left: 20px;
                margin-right: 8px;
            }

            .plus{
                background-color: #363634;
                color:#e5d790;
            }
            .plus:hover{
                background-color: #e1251b;
                color:white;
            }

        }

        .line{
            width: 160px;
            position: absolute;
            bottom:1px;
            height: 1px;
            left:15px;
            background:linear-gradient(270deg,white,#eeeeee,#eeeeee,white); 
        }
    }
        
    .mid{
        height: 110px;
        position: relative;
        padding: 10px 10px;

        .tit{
            span{
                font-size: 14px;
                color: #333;
                font-weight: bold;
            }
            a{
                color: #999;
                margin-left: 65px;

            }
            a:hover{
                color:#e1251b;
            }
        }

        ul{
            margin-top: 10px;
            li{
                margin-bottom: 5px;
                height: 16px;

                a{
                    .tit{
                        float: left;
                        width: 35px;
                        height: 16px;
                        text-align: center;
                        line-height: 16px;
                        color: #e1251b;
                        background-color: #e1251b14;
                        margin-right: 6px;

                        

                    }

                    p{
                        width: 120px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        float: left;
                        color: #666;
                    }

                    p:hover{
                        color:#e1251b;
                    }
                }
            }
        }

        .line{
            width: 160px;
            position: absolute;
            bottom:1px;
            height: 1px;
            left:15px;
            background:linear-gradient(270deg,white,#eeeeee,#eeeeee,white); 
        }
    }

    .bot{
        height: 240px;

        ul{
            height: 240px;

            li:hover span{
                color:#e1251b;
            }
            li{
                position: relative;
                width: 63px;
                height: 55px;
                text-align: center;
                float: left;
                cursor: pointer;

                img{
                    width: 28px;
                    height: 28px;
                    margin-top: 12px;
                    margin-bottom: 5px;
                    margin-left: 18px;
                }

                span{
                    color:#333;
                }
                

                .hot{
                    position: absolute;
                    top: 14px;
                    right: 5px;
                    width: 14px;
                    height: 14px;
                    color: white;
                    text-align: center;
                    line-height: 14px;
                    background-color: #e1251b;
                }
            }
        }
    }
}

